<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>goods_name</key>
		<string>青菜</string>
		<key>goods_phone</key>
		<string>13950642310</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>大白菜</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>小白菜</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>香菇</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>韭菜</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>香葱</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>生菜</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>空心菜</string>
				<key>info_unit</key>
				<string>把</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>菠菜</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>西红柿</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>白果</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>冰货</string>
		<key>goods_phone</key>
		<string>13509535345</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>鸡翅</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>舌头</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸭胗</string>
				<key>info_unit</key>
				<string>包</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸭腿</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪蹄</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>热狗</string>
				<key>info_unit</key>
				<string>包</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>牛肚</string>
				<key>info_unit</key>
				<string>片</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸡爪</string>
				<key>info_unit</key>
				<string>元</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸭爪</string>
				<key>info_unit</key>
				<string>包</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪鼻子</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪耳朵</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸡腿</string>
				<key>info_unit</key>
				<string>包</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸭翅</string>
				<key>info_unit</key>
				<string>包</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>乌鸡</string>
		<key>goods_phone</key>
		<string>13515089395</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>乌鸡</string>
				<key>info_unit</key>
				<string>只</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>番鸭</string>
				<key>info_unit</key>
				<string>只</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>鸽子</string>
				<key>info_unit</key>
				<string>只</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>猪肉</string>
		<key>goods_phone</key>
		<string>15860999886</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>腿包肉</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪肝</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>排骨</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>筒骨</string>
				<key>info_unit</key>
				<string>根</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪心</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>猪肚</string>
				<key>info_unit</key>
				<string>个</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>打扁肉的肉</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>打面</string>
		<key>goods_phone</key>
		<string>13695083292</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>水饺皮</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>扁肉皮</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
			<dict>
				<key>info_name</key>
				<string>面条</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>豆腐</string>
		<key>goods_phone</key>
		<string>13960628502</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>豆腐</string>
				<key>info_unit</key>
				<string>元</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>白果</string>
		<key>goods_phone</key>
		<string>15892173214</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>白果</string>
				<key>info_unit</key>
				<string>斤</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>goods_name</key>
		<string>酸菜</string>
		<key>goods_phone</key>
		<string>15659900709</string>
		<key>goods_info</key>
		<array>
			<dict>
				<key>info_name</key>
				<string>酸菜</string>
				<key>info_unit</key>
				<string>元</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
